<h1>Welcome to ToolShare</h1>

<ul class="list_group">
  <% if @tools.empty? %>
    <p>No tools available</p>
  <% else %>
    <% @tools.each do |tool| %>
      <%= link_to tool_path(tool) do%>
        <li class="list-style">
          <%= tool.name %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
