// Specific CSS for your home-page
.form-control {
  height: 48px;
  text-align: center;
  border: 8px;
}

.search {
  border: none;
  height: 51px;
  border-radius: 15px;
}

.home-text {
  width: 100%;
  overflow: hidden;
<<<<<<< Updated upstream
  margin-left: 500px;
=======
  margin-left: 300px;
>>>>>>> Stashed changes
  max-width: 500px;
  color: white;
}

.home-text h1 {
  animation: 2s home-text 2s forwards;
    transform:translateX(-100%);
}
<<<<<<< Updated upstream
.home-text h3 {
  animation: 2s home-text 2s forwards;
    transform:translateX(100%);
}
=======
>>>>>>> Stashed changes

@keyframes home-text {
  to {
    transform:translateX(0);
  }
}
