<h1>Bookings#edit</h1>
<p>Find me in app/views/bookings/edit.html.erb</p>

<%= simple_form_for[@tool, @booking] do |f| %>
   <%= f.input :start_date %>
   <%= f.input :end_date %>
  <%= f.submit class: 'btn-submit mt-3'%>
<% end %>
