<h1>Current bookings</h1>

<div class="container">
  <div class="cards">
    <% @bookings.each do |booking| %>
    <div class="tool-card">
      <%= booking.name %>
      <%= booking.description %>
      <%= booking.price %>
    </div>
    <% end %>
  </div>
</div>
