.btn-primary {
  background-color: black;
  border-radius: 24px;
  padding: 8px 64px;
  margin-bottom: 16px;
  color: white
}

.btn-primary-sm {
  background-color: black;
  border-radius: 24px;
  padding: 8px 32px;
  margin-bottom: 16px;
  font-size: 10pt;
  color: white;
}
