.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
}

.map {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 16px;
  border-radius: 10px;
  margin-left: 16px;
}
