.navbar-lewagon {
  justify-content: space-between;
  background: $accent-orange;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar-logo {
  max-width: 50px;
  max-height: 50px;
}
